/*recipefields_custom_work*/
.form-recipe-wrapper {
	position: relative;
}
.form-recipe-wrapper .form-label .add_new_material {
	position: absolute;
	bottom: 0;
}
#sitereviews_create .form-recipe-wrapper .form-element {
	margin-bottom: 30px !important;
    max-width: 100%;
    min-width: 100%;
}
.form-recipe-wrapper .form-element .name, .form-recipe-wrapper .form-element .amount, .form-recipe-wrapper .form-element .dilution {
	display: inline-block;
	width: 100%;
	max-width: 30%;
}
.form-recipe-wrapper .form-element .name input, .form-recipe-wrapper .form-element .amount input, .form-recipe-wrapper .form-element .dilution input {
	padding: 10px;
	font-size: 13px;
	width: 100%;
	max-width: 100%;
	background-color: #fff;
	color: #999;
	border: 1px solid #cecece;
	resize: none;
	box-sizing: border-box;
	border-radius: 3px;
	outline: none;
}

.layout_sitereview_specification_sitereview ul {
  background: transparent !important;
}
.layout_sitereview_specification_sitereview ul li {
	display: flex;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.1) 0 5px 5px;
        box-sizing: border-box;
        border: 0 !important;
}
.layout_sitereview_specification_sitereview ul li span {
	display: inline-block;
	width: 100% !important;
	max-width: 25%;
	font-weight: 700;
	padding: 5px 15px;
	box-sizing: border-box;
}
.layout_sitereview_specification_sitereview ul li span + span {
	width: 100% !important;
	max-width: 75%;
	padding: 0;
        border-left: 1px dashed #999;
}
.layout_sitereview_specification_sitereview ul li span + span table {
       margin-left: 25px;
       width: 100%;
}
.layout_sitereview_specification_sitereview ul li span + span .recipe_data .recipe_elements th {
	padding: 5px 15px;
	box-sizing: border-box;
	text-align: left;
}
.layout_sitereview_specification_sitereview ul li span + span .recipe_data .recipe_elements td {
	font-weight: 100;
	padding: 5px 15px;
	box-sizing: border-box;
	text-align: left;
}

.form-recipe-wrapper .form-element .remove_button:before {
    content: "\f068";
    font-family: fontawesome;
}