
/*
DEFAULT STYLES FOR THIS THEME
*/
@constants
{
  /*
  NOTE TO SELVES ---------------------------------------------------------------
  Also add constants to application/settings/constants.xml
  END NOTE ---------------------------------------------------------------------
  */

  /*
  PAGE WIDTHS & BACKGROUND COLOR
  Specify the top bar wrapper width (which contains the mini menu, logo, and main menu
  by default), the footer width, and the width of left & right-side columns.
  */
	sesatoz_theme_width:1200px;
  theme_topbar_width:$sesatoz_theme_width;
  theme_topbar_minimenu_width:auto;
  theme_topbar_logo_width:auto;
  theme_topbar_menu_width:auto;
	
  theme_footer_width:100%;
  theme_content_width:$sesatoz_theme_width;
  theme_content_columns_left_width:$sesatoz_left_columns_width;
  theme_content_columns_right_width:$sesatoz_right_columns_width;
  theme_body_background_color:$sesatoz_body_background_color;
  theme_main_content_background_color:$sesatoz_content_background_color;
	theme_body_background_image:url(../../../$sesatoz_body_background_image);
	theme_footer_background_image:url(../../../$sesatoz_footer_background_image);
  
	/* 
  TEXT & LINKS
  These values affect the size and colors of your text and links throughout your layout.
  */
	theme_base_color:$sesatoz_theme_color;
	theme_font_family:$sesatoz_body_fontfamily;
  theme_font_size:$sesatoz_body_fontsize;
  theme_font_color:$sesatoz_font_color;
  theme_font_color_light:$sesatoz_font_color_light;
  theme_text_align:left;
  theme_link_color:$sesatoz_links_color;
  theme_link_color_hover:$sesatoz_links_hover_color;
  theme_link_decoration:none;
  theme_link_decoration_hover:none;
  theme_headline_color:$sesatoz_heading_color;
  theme_headline_size_large:20px;
  theme_headline_size_medium:17px;
	
  /* 
  HEADER AND FOOTER COLORS
  These values are only used to style the site-wide header and footer.
  */
  theme_topbar_background_color:$sesatoz_header_background_color;
	theme_topbar_searchbox_background_color:$sesatoz_header_searchbox_background_color;
	theme_topbar_searchbox_text_color:$sesatoz_header_searchbox_text_color;
  /*Logo*/
  theme_logo_color:$sesatoz_menu_logo_font_color;
	
  /*Mini Menu*/
  theme_topbar_minimenu_background_color:transparent;
  theme_topbar_minimenu_link_hover_background_color:transparent;
  theme_topbar_minimenu_border:2px solid transparent;
	theme_topbar_minimenu_link_size:14px;
  theme_topbar_minimenu_link_color:$sesatoz_minimenu_links_color;
  theme_topbar_minimenu_link_hover_color:$sesatoz_minimenu_links_hover_color;
	theme_topbar_minimenu_icon_background_color:$sesatoz_minimenu_icon_background_color;
	theme_topbar_minimenu_icon_background_active_color:$sesatoz_minimenu_icon_background_active_color;
	theme_topbar_minimenu_icon_color:$sesatoz_minimenu_icon_color;
	theme_topbar_minimenu_icon_active_color:$sesatoz_minimenu_icon_active_color;
  theme_topbar_minimenu_link_hover_decoration:none;
  theme_topbar_border:0px solid transparent;
	theme_topbar_menu_link_border_color:transprant;
		
  /*Main Menu*/
  theme_topbar_menu_background_color:$sesatoz_mainmenu_background_color;
  theme_topbar_menu_background_color_hover:transparent;
	theme_topbar_menu_border_color_hover:$sesatoz_mainmenu_links_hover_color;
  theme_topbar_menu_link_color:$sesatoz_mainmenu_links_color;
	theme_topbar_menu_link_background_color_hover:$sesatoz_mainmenu_links_background_color_hover;
  theme_topbar_menu_link_hover_color:$sesatoz_mainmenu_links_hover_color;
 	theme_topbar_menu_link_active_color:$sesatoz_mainmenu_links_hover_color;
  theme_topbar_menu_link_decoration:none;
  theme_topbar_menu_link_hover_decoration:none;
  theme_topbar_menu_link_size:15px;
	
  theme_topbar_menu_link_background_color:transparent;
  theme_topbar_menu_link_background_color_hover:transparent;
	theme_topbar_menu_link_background_color_active:transparent;
  theme_topbar_menu_border:0px solid transparent;
	theme_topbar_menu_border_color:$theme_base_color;

	/*Footer Links*/
  theme_footer_background_color:$sesatoz_footer_background_color;
	theme_footer_link_color:$sesatoz_footer_links_color;
	theme_footer_link_hover_color:$sesatoz_footer_links_hover_color;
	theme_footer_border_color:$sesatoz_footer_border_color;

  /* 
  BORDER COLORS
  These colors are mostly applied to borders that separate items in lists of content.
  */
  theme_border_color:$sesatoz_content_border_color;
  theme_border_medium_color:$sesatoz_content_border_color;
  theme_border_dark_color:$sesatoz_content_border_color;

  /*
  WIDGET BOX BORDER COLORS
  These colors are applied to borders around or within boxes that have a background color,
  like widgets.
  */
	theme_box_header_background_color:$sesatoz_content_header_background_color;
	theme_box_header_font_color:$sesatoz_content_header_font_color;
	theme_box_header_font_size:$sesatoz_heading_fontsize;
	theme_box_header_font_family:$sesatoz_heading_fontfamily;
	theme_box_background_color:$sesatoz_content_background_color;
	theme_box_border_color:$sesatoz_content_border_color;
  theme_foreground_border_color:transparent;
  theme_foreground_border_color_light:transparent;
  theme_foreground_background_color:transparent;
	theme_comments_background_color:$sesatoz_comment_background_color;

  /*
  INPUT FIELDS AND BUTTONS
  These values style input fields and buttons that appear throughout the layout.
  */
  theme_input_background_color:$sesatoz_input_background_color;
  theme_input_font_color:$sesatoz_input_font_color;
  theme_input_border_colors:$sesatoz_input_border_color;
  theme_button_background_color:$sesatoz_button_background_color;
  theme_button_background_color_hover:$sesatoz_button_background_color_hover;
  theme_button_font_color:$sesatoz_button_font_color;
	theme_button_font_hover_color:$sesatoz_button_font_hover_color;
	theme_button_border_color:transprant;

  /*
  PHOTO BORDERS
  These colors are applied to the borders drawn around most images and thumbnails.
  */
  theme_photo_border_color:transprant;
  theme_photo_border_color_hover:transprant;

  /* 
  FORMS
  These colors are applied to most forms throughout the layout.
  */
  theme_form_border_color:$sesatoz_content_border_color;
  theme_form_background_color:$sesatoz_content_background_color;
  theme_form_label_font_color:$sesatoz_form_label_color;

  /*
  TABS (BUTTON-STYLE)
  These colors are applied to the button-style tab menus which are often shown
  on browse pages.
  */
	theme_buttontabs_font_size:$sesatoz_tab_fontsize;
	theme_buttontabs_font_family:$sesatoz_tab_fontfamily;
  theme_buttontabs_font_color:$theme_headline_color;
  theme_buttontabs_font_color_hover:$theme_base_color;
  theme_buttontabs_font_color_active:#fff;
  theme_buttontabs_background_color:transprant;
  theme_buttontabs_background_color_hover:transprant;
  theme_buttontabs_background_color_active:$theme_base_color;
	theme_buttontabs_border_color_active:$sesatoz_content_border_color;
	theme_button_tabs_font_color_active:#fff;
  /*
  TABS
  These colors are applied to tab menus (as seen on several pages, including
  the member profile page).
  */
  theme_tabs_background_color:transprant;
  theme_tabs_border_color:$sesatoz_content_border_color;
  theme_tabs_border_color_hover:$sesatoz_content_border_color;
  theme_tabs_font_color:$theme_headline_color;
  theme_tabs_font_color_hover:$theme_base_color;;
  theme_tabs_font_color_active:#fff;
  theme_tabs_background_color_active:$theme_base_color;
  theme_tabs_background_color_hover:transprant;
	theme_tabs_font_size:$sesatoz_tab_fontsize;
	theme_tabs_font_family:$sesatoz_tab_fontfamily;

  /*
  LISTS
  These colors are applied to some lists, especially in pull-down menus.
  */
  theme_list_background_color:$theme_box_background_color;
  theme_list_background_color_alt:rgba(0, 0, 0, .1);
  theme_list_background_color_hover:rgba(0, 0, 0, .01);

  /*
  TAGS
  These colors are applied to tags, which appear on blogs, messages, etc.
  */
  theme_tag_background_color:rgba(0, 0, 0, .1);

  /*
  INLINE PULLDOWN MENUS
  These colors style the inline pulldown menus that appear throughout the layout.
  */
  theme_pulldown_background_color:$sesatoz_content_background_color;
  theme_pulldown_background_color_hover:rgba(0, 0, 0, .1);
  theme_pulldown_background_color_active:$theme_base_color;
  theme_pulldown_font_color_active:$sesatoz_font_color;
  theme_pulldown_border_color:$theme_base_color;
	theme_pulldown_contents_list_color:$theme_font_color;
	theme_pulldown_contents_list_color_hover:$theme_base_color;
	theme_pulldown_contents_background_color:$sesatoz_content_background_color;
	theme_pulldown_contents_list_background_color_hover:rgba(0, 0, 0, .03);
	
  /*
  GRID VIEW LAYOUT
  These values set the width and height of grid layout.
  */
  theme_grid_width: 220px;
  theme_grid_height: 290px;

  /*
  SIGN IN BUTTON
  These colors style sign in button
  */
  theme_signin_color: #1bc1d6;
  theme_signin_color_hover: #10B9B0;
	
	theme_header_design:+header_design($sesatoz_header_design);
	theme_feed_style:+feed_style($sesatoz_feed_style);
	sidebar_panel_effect:+panel_effect($sesatoz_sidepanel_effect);
	theme_user_photo_rounded:+user_photo_rounded($sesatoz_user_photo_round);
	theme_responsive_layout:+responsive_layout($sesatoz_responsive_layout);

}
/*
GLOBAL MIXINS
These groups of styles called "mixins" are included in other
classes throughout the stylesheet.
*/
=boxsizing{
	-webkit-box-sizing:border-box;
	-mox-box-sizing:border-box;
	box-sizing:border-box;
}
=box{
	+rounded(6px);
	+boxsizing;
	background-color:$theme_box_background_color;
	margin-bottom:15px;
	padding:15px;
	box-shadow: 0 1px 8px 0 rgba(0,0,0,.05);
}
=animation{
	-webkit-transition:all 500ms ease 0s;
	-moz-transition:all 500ms ease 0s;
	-o-transition:all 500ms ease 0s;
	transition:all 500ms ease 0s;
}
/* Gives an element a background and/or border */
=foreground{
  background-color:$theme_foreground_background_color;
  /*border:1px solid $theme_foreground_border_color;*/
}
/* Gives an element a drop shadow */
=shadow($offset_x = 0, $offset_y = 0, $blur_radius = 0, $spread_radius = 0, $shadow_color = "#aaa"){
  -moz-box-shadow:$offset_x $offset_y $blur_radius $spread_radius $shadow_color;
  -webkit-box-shadow:$offset_x $offset_y $blur_radius $spread_radius $shadow_color;
  box-shadow:$offset_x $offset_y $blur_radius $spread_radius $shadow_color;
}

/* Gives an element rounded corners. */
=rounded($radius = 0px, $hidecorner1 = false, $hidecorner2 = false, $hidecorner3 = false, $hidecorner4 = false){
  -moz-border-radius:$radius;
  -webkit-border-radius:$radius;
  border-radius:$radius;
  @if($hidecorner1 == true){
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
  }
  @if($hidecorner2 == true){
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
  }
  @if($hidecorner3 == true){
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
  }
  @if($hidecorner4 == true){
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
  }
}

/* Prevents users from selecting contents */
=noselect{
  -moz-user-select:none;
  -webkit-user-select:none;
  -webkit-touch-callout:none;
  -ms-user-select:none;
  user-select:none;
}
=responsive_layout($layout = 1){
	@if($layout == 1) {
		@include "media-queries.css";
	}
	@if($layout == 2) {
		html{overflow-x:auto;}
		body{overflow-x:visible;}
		.sm_mobile_menu{display:none;}
	}
}
=user_photo_rounded($layout = 1){
	@if($layout == 1) {
		img.thumb_icon{border-radius:50%;}
	}
}

=panel_effect($effect = 1){
	@if($effect == 1) {
		.sidebar-panel-enable .menu_left_panel{
			-webkit-transform:translate(0,0);
			-moz-transform:translate(0,0);
			-ms-transform:translate(0,0);
			-o-transform:translate(0,0);
			transform:translate(0,0);
		}
		body.sidebar-panel-enable.sidebar-toggled .menu_left_panel {
			-webkit-transform:translate(-100%,0);
			-moz-transform:translate(-100%,0);
			-ms-transform:translate(-100%,0);
			-o-transform:translate(-100%,0);
			transform:translate(-100%,0);
		}
		[dir="rtl"] body.sidebar-panel-enable.sidebar-toggled .menu_left_panel{
			-webkit-transform:translate(100%,0);
			-moz-transform:translate(100%,0);
			-ms-transform:translate(100%,0);
			-o-transform:translate(100%,0);
			transform:translate(100%,0);
		}
	}
	@if($effect == 2) {
		.sidebar-panel-enable #global_wrapper,
		.sidebar-panel-enable #global_footer{
			margin-left:200px !important;
			position:relative;
			-webkit-transition:margin-left .3s;
			-moz-transition:margin-left .3s;
			-o-transition:margin-left .3s;
			transition:margin-left .3s;
		}
		[dir="rtl"] .sidebar-panel-enable #global_wrapper,
		[dir="rtl"] .sidebar-panel-enable #global_footer{
			margin-left:inherit !important;
			margin-right:200px !important;
			-webkit-transition:margin-right .3s;
			-moz-transition:margin-right .3s;
			-o-transition:margin-right .3s;
			transition:margin-right .3s;
		}
		body.sidebar-panel-enable.sidebar-toggled #global_wrapper,
		body.sidebar-panel-enable.sidebar-toggled #global_footer{
			margin-left:0 !important;
		}
		[dir="rtl"] body.sidebar-panel-enable.sidebar-toggled #global_wrapper,
		[dir="rtl"] body.sidebar-panel-enable.sidebar-toggled #global_footer{
			margin-right:0 !important;
		}
		.sidebar-panel-enable .menu_left_panel{
			-webkit-transform:translate(0,0);
			-moz-transform:translate(0,0);
			-ms-transform:translate(0,0);
			-o-transform:translate(0,0);
			transform:translate(0,0);
		}
		body.sidebar-panel-enable.sidebar-toggled .menu_left_panel {
			-webkit-transform:translate(-100%,0);
			-moz-transform:translate(-100%,0);
			-ms-transform:translate(-100%,0);
			-o-transform:translate(-100%,0);
			transform:translate(-100%,0);
		}
		[dir="rtl"] body.sidebar-panel-enable.sidebar-toggled .menu_left_panel{
			-webkit-transform:translate(100%,0);
			-moz-transform:translate(100%,0);
			-ms-transform:translate(100%,0);
			-o-transform:translate(100%,0);
			transform:translate(100%,0);
		}	
	}
}
=header_design($design = 1){
  @if($design == 1) {
		/*Main Menu*/
		@media only screen and (min-width:769px){
			._headernotfix .layout_page_header{
				position:inherit;
			}
			._headernotfix #global_wrapper{
				margin-top:0 !important;
			}
			._headernotfix .layout_page_header .header_top{
				position:fixed;
				top:0;
				width:100%;
				z-index:99;
			}
			._headernotfix .layout_page_header .header_main_menu{margin-top:55px;}
			f{margin-top:0 !important;}
			.atoz_mobile_nav_toggle, .sesatoz_mobile_nav{display:none;}
			.header_main_menu{background-color:$theme_topbar_menu_background_color;}
			.header_main_menu_container{margin:0 auto;width:$theme_topbar_width;}
			.sesatoz_main_menu > ul{margin:0;padding:0;display:table;width:100%;}
			.sesatoz_main_menu > ul > li > a i, .sesatoz_main_menu > ul > li > a span {float:none !important;display:inline-block;vertical-align:middle;margin:0 !important;}
			.sesatoz_main_menu > ul > li{display:table-cell;float:none;position:relative;overflow:visible;}
			[dir="rtl"] .sesatoz_main_menu > ul > li{float:right;}
			.sesatoz_main_menu > ul > li > a{+noselect;outline:none;display:block;padding:0 15px;line-height:45px;font-size:$theme_topbar_menu_link_size;letter-spacing:1px;font-weight:400;text-transform:uppercase;text-align:center;position:relative;}
			.sesatoz_main_menu > ul > li > a:before,.sesatoz_main_menu > ul > li:last-child > a:after{content:"";position:absolute;height:100%;width:1px;background:#191919;left:0;opacity:.1;}
			.sesatoz_main_menu > ul > li:last-child > a:after {left:auto;right:0;}
			.sesatoz_main_menu>ul>li:last-child ul {right: 0;left: inherit;}
			.sesatoz_main_menu > ul > li > a:link,
			.sesatoz_main_menu > ul > li > a:visited{color:$theme_topbar_menu_link_color;text-decoration:$sesatoz_mainmenu_links_color;overflow:hidden;}
			.sesatoz_main_menu > ul > li > a:hover,
			.sesatoz_main_menu > ul > li.active > a{color:$theme_topbar_menu_link_hover_color;background:$sesatoz_mainmenu_links_background_color_hover;}
			.sesatoz_main_menu > ul > li > a span{float:left;font-family:$sesatoz_mainmenu_fontfamily;font-size:$sesatoz_mainmenu_fontsize;}
			[dir="rtl"] .sesatoz_main_menu > ul > li > a span{float:right;}
			.sesatoz_main_menu .menuicon{background-position:center center;background-repeat:no-repeat;float:left;height:24px;margin:11px 6px 0 0;width:24px;}
			.sesatoz_main_menu ul ul .menuicon{margin-top:0;}
			[dir="rtl"] .sesatoz_main_menu .menuicon{float:right;margin:14px 0 0 6px;}
			.sesatoz_main_menu > ul > li > ul{display:none;min-width: 100%;}
			.sesatoz_main_menu > ul > li:hover > ul{display:block;}
			ul.main_menu_submenu{box-shadow:0 2px 5px rgba(0, 0, 0, 0.1);background-color:$theme_topbar_menu_background_color;position:absolute;min-width:150px;z-index:98;max-height:300px;overflow:auto;left: 0;}
			ul.main_menu_submenu li a{position:relative;color:$theme_topbar_menu_link_color;font-size:$theme_topbar_menu_link_size;display:block;outline:none;overflow:hidden;white-space:nowrap;text-decoration:$theme_topbar_menu_link_decoration;font-family:$sesatoz_mainmenu_fontfamily;font-size:$sesatoz_mainmenu_fontsize;text-transform: uppercase;padding: 10px 15px;}
			ul.main_menu_submenu li a:before{content:"";position:absolute;width:100%;height:1px;background:$sesatoz_mainmenu_links_color;top:0;opacity:.1;}
			ul.main_menu_submenu li a:hover,
			ul.main_menu_submenu li.active a{color:$theme_topbar_menu_link_hover_color;text-decoration:$theme_topbar_menu_link_hover_decoration;background:$sesatoz_mainmenu_links_background_color_hover;}
			.main_menu_submenu li a span{line-height:24px;font-size:.9em;}
		}
		@media only screen and (max-width:950px){
			.sesatoz_main_menu > ul > li > a{padding:0 5px;}
		}
		@media only screen and (max-width:768px){
			.sesatoz_landing_page .atoz_mobile_nav_toggle{bottom:15px;}
			.atoz_mobile_nav_toggle{display:block;position:absolute;top:15px;left:15px;}
			.sesatoz_main_menu{display:none;}
			.sesatoz_main_menu.show-nav{display:block;}
			.sesatoz_mobile_nav{box-shadow:0 2px 10px rgba(0, 0, 0, 0.1);background-color:$theme_topbar_menu_background_color;position:absolute;width:100%;z-index:10;}
			.sesatoz_mobile_nav > ul > li > a{+noselect;outline:none;display:block;padding:0 15px;line-height:40px;font-size:$theme_topbar_menu_link_size;			letter-spacing:1px;}
			.sesatoz_mobile_nav > ul > li > a:link,
			.sesatoz_mobile_nav > ul > li > a:visited{color:$theme_topbar_menu_link_color;text-decoration:$sesatoz_mainmenu_links_color;overflow:hidden;}
			.sesatoz_mobile_nav > ul > li > a:hover,
			.sesatoz_mobile_nav > ul > li.active > a{color:$theme_topbar_menu_link_hover_color;}
			.sesatoz_mobile_nav > ul > li > a span{float:left;}
			[dir="rtl"] .sesatoz_mobile_nav > ul > li > a span{float:right;}
			.sesatoz_mobile_nav .menuicon{background-position:center center;background-repeat:no-repeat;float:left;height:24px;margin:9px 6px 0 0;width:24px;}
		}
	}
	@if($design == 2) {
			.menu_left_panel{display:none;}
			body.showmenupanel .menu_left_panel{display:block;}
		/*Layouts*/
		.sidebar-panel-enable .header_top_container{margin:0 auto;width:100%;}
		.sidebar-panel-enable #global_wrapper{padding:15px;}
		.sidebar-panel-enable #global_content{width:100%;max-width:$theme_content_width;}
		
		/*Header*/
		.sidebar-panel-enable .header_logo > div{padding-left:20px;}
		[dir="rtl"] .sidebar-panel-enable .header_logo > div{padding-left:0;padding-right:20px;}
		.header_minimenu{padding-right:40px;}
		[dir="rtl"] .header_minimenu{padding-right:0;padding-left:40px;}
		
		.sidebar_panel_menu_btn{
			width:50px;
		}
		.sidebar_panel_menu_btn a{
			border-radius:3px;
			box-shadow:0 0 10px rgba(0, 0, 0, .2) inset;
			display:block;
			height:35px;
			position:relative;
			margin:0 10px;
			width:38px;
			transition: all 700ms ease 0s;
		}
		.sidebar_panel_menu_btn a i{
			background-color:$theme_logo_color;
			position:absolute;
			display:inline-block;
			height:2px;
			width:25px;
			border-radius:2px;
			top:50%;
			left:50%;
    	-webkit-transform:translate(-50%);
			-moz-transform:translate(-50%);
			-ms-transformtransform:translate(-50%);
			-o-transformtransform:translate(-50%);
			transform:translate(-50%);
		}
		.sidebar_panel_menu_btn a i:before, 
		.sidebar_panel_menu_btn a i:after{
			position:absolute;
			height:2px;
			width:25px;
			border-radius:2px;
			background-color:$theme_logo_color;				
			content:"";
			left:0;
			backface-visibility:hidden!important;
			-webkit-transform-origin:0 50%;
			-moz-transform-origin:0 50%;
			-ms-transform-origin:0 50%;
			-o-transform-origin:0 50%;
			transform-origin:0 50%;
		}
		.sidebar_panel_menu_btn a i:before{top:-8px;}
		.sidebar_panel_menu_btn a i:after{top:8px;}
		.sidebar_panel_menu_btn a i:before{
			-webkit-transform:translate3d(0,0,0) rotate(0) scale(1);
			-moz-transform:translate3d(0,0,0) rotate(0) scale(1);
			-ms-transform:translate3d(0,0,0) rotate(0) scale(1);
			-o-transform:translate3d(0,0,0) rotate(0) scale(1);
			transform:translate3d(0,0,0) rotate(0) scale(1);
		}
		.sidebar_panel_menu_btn a i:after{
			-webkit-transform:translate3d(0,0,0) rotate(0) scale(1);
			-moz-transform:translate3d(0,0,0) rotate(0) scale(1);
			-ms-transform:translate3d(0,0,0) rotate(0) scale(1);
			-o-transform:translate3d(0,0,0) rotate(0) scale(1);
			transform:translate3d(0,0,0) rotate(0) scale(1);
		}
		.sidebar_panel_menu_btn a.activesesatoz{
			box-shadow:none;
		}
		.menu_left_panel{background-color:$theme_topbar_menu_background_color;position:fixed;top:55px;bottom:0;left:0;width:200px;box-shadow:0 2px 3px rgba(0, 0, 0, .5);z-index:2;}
		[dir="rtl"] .menu_left_panel{left:inherit;right:0;}
		.sidebar-toggled .menu_left_panel{box-shadow:none;}
		
		.menu_left_panel_container{position:relative;overflow-y:hidden;overflow-x:hidden;height:100%;width:100%;}
		/*.menu_left_panel_container:hover{overflow-y:auto;}*/
		
		.menu_left_panel_top_section{
			background-color:$sesatoz_toppanel_userinfo_background_color;
			background-size:cover;
			padding:10px;
			position:relative;
		}
		.menu_left_panel_top_section:before{
			background-color:rgba(0, 0, 0, .2);
			content:"";
			display:block;
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
		}
		.menu_left_panel_top_section_img,
		.menu_left_panel_top_section_name,
		.menu_left_panel_top_section_btn{position:relative;}
		.menu_left_panel_top_section_img{margin-bottom:10px;}
		.menu_left_panel_top_section_img img{border-radius:50%;height:60px;object-fit:cover;width:60px;}
		.menu_left_panel_top_section_name{
			color:$sesatoz_toppanel_userinfo_font_color;
			font-size:15px;
			overflow:hidden;
			text-shadow:0 0 2px rgba(0, 0, 0, .5);
		}
		.menu_left_panel_top_section_btn{float:right;}
		[dir="rtl"] .menu_left_panel_top_section_btn{float:left;}
		.menu_left_panel_top_section_btn i{
			color:#fff;
			font-size:12px;
		}
		.menu_left_panel_top_section_options{
			background-color:$theme_pulldown_contents_background_color;
			border:1px solid $theme_border_color;
			box-shadow:0 3px 8px rgba(0, 0, 0, .25);
			position:absolute;
			left:0;
			right:0;
			float: left;
			margin-top: 10px;
			width: 100%;
			padding: 10px;
			z-index:1;
		}
		.menu_left_panel_top_section_options .dropdown_caret{
			left:auto;
			right:8px;
		}
		[dir="rtl"] .menu_left_panel_top_section_options .dropdown_caret{
			left:8px;
			right:auto;
		}
		.menu_left_panel_top_section_options .generic_layout_container {margin-bottom:0;}
		.menu_left_panel_top_section_options ul{
			padding:0;
		}
		.menu_left_panel_top_section_options ul li{
			padding:5px 0 !important;
		}
		.menu_left_panel_top_section_options ul li:before{display:none !important;}
		.menu_left_panel_top_section_options ul li a{
			margin:0;
		}
		.menu_left_panel_nav_container{
			background-repeat:no-repeat;
			background-attachment:fixed;
			background-position:center center;
			position:relative;
		}
		.menu_left_panel_nav{position:relative;padding-top:10px;}
		.menu_left_panel_nav > li{display:block;font-size:$sesatoz_mainmenu_fontsize;}
		.menu_left_panel_nav > li > a{color:$theme_topbar_menu_link_color;letter-spacing:1px;padding:12px 10px;display:block;}
		.menu_left_panel_nav > li > a:hover,
		.menu_left_panel_nav > li.active > a{color:$theme_topbar_menu_link_hover_color;background-color:rgba(31,54,79,.1);}
		.menu_left_panel_nav > li > a .menuicon{background-position:center center;background-repeat:no-repeat;float:left;height:24px;margin:0 6px 0 0;width:24px;}
		[dir="rtl"] .menu_left_panel_nav > li > a .menuicon{float:right;margin:0 0 0 6px;}
		.expcoll-icon{float:right;font-size:20px;line-height:25px;text-align:center;width:25px;font-style:normal;}
		[dir="rtl"] .expcoll-icon{float:left;}
		.expcoll-icon:before{content:"+";}
		.open_toggled_menu .expcoll-icon:before{content:"-";}
		.menu_left_panel_nav > li > a span{line-height:24px;font-family:$sesatoz_mainmenu_fontfamily;}
		.menu_left_panel_nav ul {padding-left:20px;}
		[dir="rtl"] .menu_left_panel_nav ul {padding-left:0;padding-right:20px;}
		.menu_left_panel_nav ul li{position:relative;font-size:$sesatoz_mainmenu_fontsize;}
		.menu_left_panel_nav ul li:before {content:"";position:absolute;top:-20px;bottom:20px;width:1px;border-left:1px dashed $theme_topbar_menu_link_color;}
		.menu_left_panel_nav ul li:before{border-left:none;border-right:1px dashed $theme_topbar_menu_link_color;}
		.menu_left_panel_nav ul li:first-child:before{top:0;}
		.menu_left_panel_nav ul li:after {content:"";position:absolute;top:20px;width:20px;border-bottom:1px dashed $theme_topbar_menu_link_color;}
		.menu_left_panel_nav ul li a:before {	content:"";position:absolute;top:18px;left:18px;width:5px;height:5px;border-radius:50%;background-color:$theme_topbar_menu_link_color;}
		[dir="rtl"] .menu_left_panel_nav ul li a:before{left:inherit;right:18px;}
		.menu_left_panel_nav ul li a{color:$theme_topbar_menu_link_color;padding:10px 10px 10px 30px;font-size:13px;display:block;font-family:$sesatoz_mainmenu_fontfamily;font-size:.9em;}
		[dir="rtl"] .menu_left_panel_nav ul li a{padding:10px 30px 10px 10px;}
		.menu_left_panel_nav ul li a:hover,
		.menu_left_panel_nav ul li.selected_sub_main_menu a{color:$theme_topbar_menu_link_hover_color;}
		.menu_left_panel_nav ul li.sesatoz_sub_menu_selected:before,
		.menu_left_panel_nav ul li.selected_sub_main_menu:before,
		.menu_left_panel_nav ul li.selected_sub_main_menu:after{border-color:$theme_topbar_menu_link_hover_color;}
		.menu_left_panel_nav ul li.selected_sub_main_menu a:before{background-color:$theme_topbar_menu_link_hover_color;}
		.menu_left_panel{
			-webkit-transition:-webkit-transform .3s;
			-moz-transition:moz-transform .3s;
			-o-transition:-o-transform .3s;
			transition:transform .3s;
		}
		.menu_left_panel .mCSB_draggerRail{background-color:transparent !important;} 
		@media (min-width:1316px){
			.header_top_container > div.disabledmenu{display:none;}
			$sidebar_panel_effect;
		}
		@media (max-width:1315px){ 
			.sidebar-panel-enable .menu_left_panel{
				-webkit-transform:translate(0,0);
				-moz-transform:translate(0,0);
				-ms-transform:translate(0,0);
				-o-transform:translate(0,0);
				transform:translate(0,0);				
			}
			body.sidebar-panel-enable.sidebar-toggled .menu_left_panel {
				-webkit-transform:translate(-100%,0);
				-moz-transform:translate(-100%,0);
				-ms-transform:translate(-100%,0);
				-o-transform:translate(-100%,0);
				transform:translate(-100%,0);
			}
      [dir="rtl"]body.sidebar-panel-enable.sidebar-toggled .menu_left_panel {
				-webkit-transform:translate(100%,0);
				-moz-transform:translate(100%,0);
				-ms-transform:translate(100%,0);
				-o-transform:translate(100%,0);
				transform:translate(100%,0);
			}
		}
		@media (max-width:768px){
			.sidebar_panel_menu_btn{bottom:10px;float:left;padding:0 !important;position:absolute;}
			.menu_left_panel{top:96px;}
			.header_minimenu{padding:0;}
			.sidebar_panel_menu_btn a{height:35px;width:30px;}
		}
/*		::-webkit-scrollbar{width:12px;}
		::-webkit-scrollbar-track{}
		::-webkit-scrollbar-thumb{background-color: darkgrey;outline: 1px solid slategrey;position:absolute;}	*/
	}
}
=feed_style($style = 1){
	@if($style == 1) {
		.layout_activity_feed{		
			ul.feed > li{
				clear:both;
			}
			ul.feed > li{
				border-width: 0 !important;
				margin: 0px !important;
				padding: 20px 0 0 !important;
				position: relative;
			}
			ul.feed > li *{
				+boxsizing;
			}
			ul.feed .feed_item_photo{
				margin:0px 15px 0 0;
				padding:2px !important;
				background-color:$theme_box_background_color;
				float:left !important;
			}
			[dir="rtl"] ul.feed .feed_item_photo{
				margin:-8px 0 0 20px;
			}
			ul.feed .feed_item_photo,
			ul.feed .feed_item_photo img{
				border-radius:50%;
			}
			ul.feed .feed_item_body{
				+rounded(3px);
				background-color:$theme_box_background_color;
			}
			ul.feed .feed_item_body:before{
				content:"";
				width:0; 
				height:0;
				position:absolute;
				border-top:8px solid transparent;
				border-bottom:8px solid transparent;
				border-right:10px solid $theme_box_background_color;
				margin:13px 0 0 -10px;
			}
			ul.feed .feed_item_posted, ul.feed .feed_item_generated{
				display:block;
				margin:10px;
			}
			ul.feed .feed_item_body div[id^="comment-likes-activity-item-"]{
				clear:both;
			}
			ul.feed .feed_item_icon {
				border-top-width:1px;
				font-size:13px;
				clear:both;
				padding:10px 10px 0;
				background-image:none;
				overflow:hidden;
			}
			ul.feed .feed_item_icon:before{display:none;}
			ul.feed .feed_item_date > ul > li{
				float:left;
				margin-right:10px;
				line-height:16px;
			}
			[dir="rtl"] ul.feed .feed_item_date > ul > li{
				float:right;
				margin-left:10px;
				margin-right:0;
			}
			ul.feed .feed_item_date > ul > li:first-child{
				float:right;
			}
			[dir="rtl"] ul.feed .feed_item_date > ul > li:first-child{
				float:left;
			}
			ul.feed .feed_item_date > ul > li > span{
				display:none;
			}
			ul.feed .feed_item_date > ul > li > span.timestamp{
				display:block;
			}
			ul.feed .feed_item_date > ul > li a{
				+rounded(3px);
				color:$sesatoz_font_color;
				display:block;
			}
			ul.feed .feed_item_icon > ul li a:before,
			ul.feed .feed_item_date > ul > li > span.timestamp:before{
				color:$theme_font_color_light;
				font-size:15px;
				font-family:FontAwesome;
				margin-right:5px;
				float:left;
			}
			[dir="rtl"] ul.feed .feed_item_icon > ul li a:before {
				float:right;
				margin-left:5px;
				margin-right:0;
			}
			ul.feed .feed_item_date > ul > li a:hover,
			ul.feed .feed_item_icon > ul li a:hover:before{
				color:$theme_link_color_hover;
			}
			ul.feed .feed_item_option_like a:before{content:"\\f164";/}
			ul.feed .feed_item_option_unlike a:before{content:"\\f165";}
			ul.feed .feed_item_option_comment a:before{content:"\\f075";}
			ul.feed .feed_item_option_delete a:before{content:"\\f1f8";}
			ul.feed .feed_item_option_share a:before{content:"\\f064";}
			ul.feed .feed_item_option_edit a:before{content:"\\f040";}
			ul.feed .feed_item_date > ul > li > span.timestamp:before{content:"\\f017";}
			.feed_item_edited {display:none;}
			/*Attachments*/
			ul.feed .feed_item_attachments {
				clear:both;
				padding:0 10px;
				margin-bottom:10px;
			}
			ul.feed .feed_item_attachments *{
				box-sizing:border-box;
			}
			ul.feed .feed_item_attachments > span > div > a > img{
				max-width:150px;
				max-height:inherit;
			}
			ul.feed .feed_item_link_title{
				font-size:14px;
			}
			ul.feed .feed_item_link_des{
				font-size:12px;
			}
			.feed_attachment_core_link > div{
				border-width:1px;
				padding:10px;
			}
			.feed_attachment_core_link > div > a > img{
				max-width:120px;
				max-height:inherit;
			}
			div.feed_viewmore{margin-left:72px;}
			[dir="rtl"] div.feed_viewmore{margin-left:0;margin-right:72px;}
			ul.feed .feed_item_body a{
				color:$theme_link_color_hover;
			}
		}
	}
  @if($style == 2) {
		.layout_activity_feed{
			ul.feed > li{
				clear:both;
			}
			ul.feed > li{
				+rounded(3px);
				border-width:0 !important;
				background-color:$theme_box_background_color;
				margin:15px 0px !important;
				padding:0 !important;
				position:relative;
			}
			ul.feed > li *{
				+boxsizing;
			}
			ul.feed .feed_item_photo {
				position:absolute;
				margin:10px 0 0 10px;
			}
			[dir="rtl"] ul.feed .feed_item_photo {
				margin:10px 10px 0 0 !important;
			}
			ul.feed .feed_item_photo img{
				background-color:#fff;
				padding:0px;
				border:0px;
			}
			ul.feed .feed_item_body {
				overflow:visible;
				padding:0;
				border-top-width:1px;
				margin-top:67px;
				position:relative;
			}
			ul.feed .feed_item_generated,
			ul.feed .feed_item_posted{
				padding:10px;
				float:left;
				width:100%;
			}
			ul.feed .feed_item_generated .feed_item_username:first-child,
			ul.feed .feed_item_posted .feed_item_username:first-child{
				position:absolute;
				top:-52px;
				left:66px;
			}
			ul.feed .feed_item_date > ul > li > span.timestamp{
				display:block;
				padding-top:7px;
				position:absolute;
				left:66px;
				top:-38px;
				font-size:11px;
			}
			[dir="rtl"] ul.feed .feed_item_username:first-child,
			[dir="rtl"] ul.feed .feed_item_date > ul > li > span.timestamp{
				left:auto;
				right:66px;
			}
			ul.feed .feed_item_body div[id^="comment-likes-activity-item-"]{
				clear:both;
			}
			ul.feed .feed_item_icon {
				font-size:13px;
				margin-top:15px;
				clear:both;
				padding:0 10px;
				background-image:none;
				overflow:hidden;
			}
			ul.feed .feed_item_icon:before{display:none;}
			ul.feed .feed_item_date > ul > li{
				float:left;
				margin-right:10px;
			}
			[dir="rtl"] ul.feed .feed_item_date > ul > li{
				float:right;
				margin-left:10px;
				margin-right:0;
			}
			ul.feed .feed_item_date > ul > li > span{
				display:none;
			}
			ul.feed .feed_item_date > ul > li > span.timestamp{
				display:block;
			}
			ul.feed .feed_item_date > ul > li a{
				+rounded(3px);
				background-color:$theme_button_background_color;
				color:$sesatoz_button_font_color;
				padding:8px 15px;
				display:block;
			}
			ul.feed .feed_item_date > ul > li a:hover{
				background-color:$theme_button_background_color_hover;
			}
			ul.feed .feed_item_icon > ul li a:before {
				font-size:15px;
				font-family:FontAwesome;
				margin-right:5px;
				float:left;
			}
			[dir="rtl"] ul.feed .feed_item_icon > ul li a:before {
				float:right;
				margin-left:5px;
				margin-right:0;
			}
			ul.feed .feed_item_option_like a:before{content:"\\f164";/}
			ul.feed .feed_item_option_unlike a:before{content:"\\f165";}
			ul.feed .feed_item_option_comment a:before{content:"\\f075";}
			ul.feed .feed_item_option_delete a:before{content:"\\f1f8";}
			ul.feed .feed_item_option_share a:before{content:"\\f064";}
			ul.feed .feed_item_option_edit a:before{content:"\\f040";}
			
			/*Attachments*/
			ul.feed .feed_item_attachments {
				clear:both;
				padding:0 10px;
			}
			ul.feed .feed_item_attachments *{
				box-sizing:border-box;
			}
			ul.feed .feed_item_attachments > span > div > a > img{
				max-width:150px;
				max-height:inherit;
			}
			ul.feed .feed_item_link_title{
				font-size:14px;
			}
			ul.feed .feed_item_link_des{
				font-size:12px;
			}
			.feed_attachment_core_link > div{
				border-width:1px;
				padding:10px;
			}
			.feed_attachment_core_link > div > a > img{
				max-width:120px;
				max-height:inherit;
			}
			ul.feed .feed_item_body a{
				color:$theme_link_color_hover;
			}
		}
	}
}