ul.siteqa_categories-autosuggest{margin-top: 10px;}
ul.siteqa_categories-autosuggest {background: rgba(0, 0, 0, 0.1); padding: 10px; box-sizing: border-box;}
ul.siteqa_categories-autosuggest li{display: flex; margin-bottom: 5px;}
ul.siteqa_categories-autosuggest li img{margin-right: 15px;}
.settings h4{font-size: 10.5pt !important; line-height: 2em}
