

.core_admin_main_plugins_sesatoz {
	border-radius:3px 3px 0 0;
	background-color:#e8288d;
	color:#fff !important;
}
.atoz_manangemenu_table{
	width:40%;
}
.atoz_manangemenu_icon{
	background-color:#bbb;
	max-width:30px;
	padding:10px;
}
/*Manage Slideshow*/
.atoz_manage_slides{
	width:60%;
}
.atoz_manage_slides_head > div{
	background-color:#f5f5f5;
	padding:10px;
	border-bottom:1px solid #aaa;
	float:left;
	font-weight:bold;
	padding-top:7px;
	padding-bottom:7px;
	white-space:nowrap;
}
.atoz_manage_slides_list{
	margin-bottom:10px;
}
.atoz_manage_slides_list li{
	border-bottom:1px solid #eee;
	cursor:move;
	clear:both;
	overflow:hidden;
}
.atoz_manage_slides_list li:nth-child(odd){
	background-color:#fff;
}
.atoz_manage_slides_list li:nth-child(even) {
	background-color:#f8f8f8;
}
.atoz_manage_slides_list li > div{
	padding:10px;
	font-size:.9em;
	float:left;
	padding-top:7px;
	padding-bottom:7px;
	vertical-align:top;
	white-space:normal;
}
.atoz_manangeslides_slide{
	width:100px;
}
#global_page_sesatoz-admin-settings-index #popup_settings-wrapper{
	border-top-width:1px;
	margin-top:10px;
}
#global_page_sesatoz-admin-settings-index #popup_settings-wrapper .form-label{
	font-size:15px;
	width:auto;
}
#global_page_sesatoz-admin-manage-mini-menu-icons #minimenu_icons-wrapper .form-label,
#global_page_sesatoz-admin-manage-mini-menu-icons #minimenu_message_icons-wrapper .form-label,
#global_page_sesatoz-admin-manage-mini-menu-icons #minimenu_frrequest_icons-wrapper .form-label{
	text-decoration:underline;
}
/*Color Scheme Form*/
.sesatoz_themes_form #theme_color-wrapper .form-element li:nth-child(13n+8) {
  position:relative;
	padding-top:14px;
}
.sesatoz_themes_form #theme_color-wrapper .form-element li:nth-child(13n+7),.sesatoz_themes_form #theme_color-wrapper .form-element li:nth-child(13n+9){
	padding-top:33px;
}
.sesatoz_themes_form #theme_color-wrapper .form-element li:nth-child(13n+8):before {
	content:"Dark Color Schemes";
	font-size:16px;
	text-align:center;
	width:100%;
	display:inline-block;
	font-weight:bold;
	position:relative;
	top:-12px;
}
.sesatoz_themes_form .form-label{
	margin-bottom:5px;
}
.sesatoz_themes_form #theme_color-label{
	font-size:16px;
	padding-bottom:5px;
	text-align:center;
	width:100%;
}
.sesatoz_themes_form #theme_color-wrapper .form-element{
	clear:both;
	text-align:center;
}
.sesatoz_themes_form #theme_color-wrapper .form-element li{
	box-sizing:border-box;
	float:left;
	margin:10px 10px 0 0;
	padding-bottom:30px;
	position:relative;
	width:275px;
}
.sesatoz_themes_form #theme_color-wrapper .form-element li input{
	bottom:0;
	float:none;
	left:50%;
	margin-bottom:10px;
	position:absolute;
}
.sesatoz_themes_form #theme_color-wrapper .form-element li label{
	cursor:pointer;
}
.sesatoz_themes_form #theme_color-wrapper .form-element li img{
	width:100%;
}
.sesatoz_themes_form #theme_color-wrapper .form-element li:last-child{
	clear:both;
	display:block;
	float:none;
	margin:0 auto;
	padding-top:20px;
	width:400px;
}
.sesatoz_themes_form #theme_color-wrapper .form-element li:last-child:before{
  content:"Make You Own Theme (make sure the site is in Development Mode, before you make any changes)";
	font-size:15px;
	font-weight:bold;
	margin-bottom:10px;
}
.sesatoz_themes_form #theme_color-wrapper .form-element li:last-child img{
	margin-top:10px;
}
.sesatoz_themes_form #header_settings-wrapper,
.sesatoz_themes_form #footer_settings-wrapper,
.sesatoz_themes_form #body_settings-wrapper{
	border-bottom-width:1px;
}
.sesatoz_themes_form #header_settings-wrapper .form-label,
.sesatoz_themes_form #footer_settings-wrapper .form-label,
.sesatoz_themes_form #body_settings-wrapper .form-label{
	font-size:15px;
	width:auto;
}
.sesatoz_themes_form #header_settings_group > fieldset > div,
.sesatoz_themes_form #footer_settings_group > fieldset > div,
.sesatoz_themes_form #body_settings_group > fieldset > div{
  margin-right:3%;
	display:inline-block;
	width:30%;
}
.sesatoz_themes_form #header_settings_group > fieldset > div > div,
.sesatoz_themes_form #footer_settings_group > fieldset > div > div,
.sesatoz_themes_form #body_settings_group > fieldset > div > div{
	width:100%;
}
.sesatoz_themes_form #sesatoz_footer_heading_color-wrapper{
	display:none !important;
}
.sesatoz_themes_form #custom_theme_color-label{
	width:140px;
}
.sesatoz_styling_buttons{
	float:right;
	margin-top:-35px;
}
.sesatoz_button{
	float:left;
	margin-right:15px;
	text-decoration:none !important;
}
.sesatoz_button:before{margin-right:5px;}
.sesatoz_button.disabled{color:#999;}
/*Landing Page Settings*/
div#banner_widget select {
	width: 100%;
	padding: 7px;
	margin: 0;
	margin-bottom: 10px;
}
.sesatoz_lp_settings_wrapper {
	background-color:#ececec !important;
	display:table;
	padding:15px;
	width:100% !important;
}
.sesatoz_lp_settings_wrapper,
.sesatoz_lp_settings_wrapper *{
	box-sizing:border-box;
}
.sesatoz_lp_settings_tabs {
	background-color:#e4e4e4;
	display:table-cell;
	vertical-align:top;
	width:200px;
}
.sesatoz_lp_settings_tabs li {
	display:block;
}
.sesatoz_lp_settings_tabs li + li {
	border-top:1px solid #ececec;
}
.sesatoz_lp_settings_tabs li a {
	color:#666 !important;
	display:block;
	font-size:17px;
	padding:15px;
	transition:all 500ms ease 0s;
}
.sesatoz_lp_settings_tabs a:hover,
.sesatoz_lp_settings_tabs li.active a{
	background-color:#fff;
	text-decoration:none;
}
.sesatoz_lp_settings_content{
	background-color:#fff;
	display:table-cell;
	vertical-align:top;
	padding:20px;
}
.sesatoz_lp_settings_content .form-element .item_label + .item_label{
	margin-top:10px;
}
.sesatoz_lp_settings_content .form-element .fa-trash{
	font-size:15px;
	text-decoration:none !important;
}
.sesatoz_lp_settings_content .form-sub-heading{
	border-top-width:1px;
	font-size:17px;
	font-weight:bold;
	padding:15px 0;
}
.sesatoz_lp_settings_content .item_label_feature + .item_label_feature{
	border-top-width:1px;
}

/*Header Setting Form*/
.atoz_header_settings_form #minimenu_icons-wrapper .form-label,
.atoz_header_settings_form #minimenu_message_icons-wrapper .form-label,
.atoz_header_settings_form #minimenu_frrequest_icons-wrapper .form-label{
	width:auto;	
}
.atoz_header_settings_form #minimenu_notification_normal_preview-element input,
.atoz_header_settings_form #minimenu_notification_mouseover_preview-element input,
.atoz_header_settings_form #minimenu_message_normal_preview-element input,
.atoz_header_settings_form #minimenu_message_mouseover_preview-element input,
.atoz_header_settings_form #minimenu_frrequest_normal_preview-element input,
.atoz_header_settings_form #minimenu_frrequest_mouseover_preview-element input{
	background-color:#ddd;
	padding:10px;
}
/* Help setting tab in admin panel */
.sesatoz_support_links
{
	display: flex;
	flex-wrap: wrap;
}

.sesatoz_support_links a
{
	padding: 40px 10px;
	width: 30%;
	margin: 5px;
	text-align: center;
	text-decoration: none !important;
	font-family: monospace;
	transition: all .5s ease;
}

.sesatoz_support_links a h4
{
	font-size: 20px;
	font-weight: bold;
	color: #706e6e;
}

.sesatoz_support_links a p
{
	font-size: 15px;
	padding: 0 20px;
	margin-top: 10px;
	color: #818181;
}

.sesatoz_support_links a:nth-child(4n+1)
{
	background: #e1f9ed;
}

.sesatoz_support_links a:nth-child(4n+2)
{
	background: #daf5ce;
}

.sesatoz_support_links a:nth-child(4n+3)
{
	background: #fbf9d6;
}

.sesatoz_support_links a:nth-child(4n+4)
{
	background: #ffe4ed;
}

.sesatoz_support_links a:nth-child(4n+5)
{
	background: #ebe0ff;
}

.sesatoz_support_links a:nth-child(4n+6)
{
	background: #e3e7ff;
}

.sesatoz_support_links a:hover
{
	box-shadow: 0 20px 20px -15px #cacaca;
	transform: scale(1.01);
	transition: all .5s ease;
}

.sesatoz_support_links a img
{
	margin: 0 auto;
	display: block;
	margin-bottom: 10px;
	filter: invert(60%);
}

.sesatoz_support_links b
{
	font-weight: bold;
}
